* {
    margin: 0px;
    padding: 0px;
  }
  html,
  body {
    position: relative;
  }
  
  body {
    overflow-y: auto;
    min-height: 100vh;
  }
  textarea:focus,
  input:focus {
    outline: none;
  }
  a {
    color: inherit !important;
    text-decoration: none !important;
  }
  footer {
    background: #f1f1f1;
    width: 100%;
    padding: 16px 0px;
    color: #999;
    vertical-align: bottom;
    margin-top: 40px;
    text-align: center;
 
  }
  
  .banner {
    height: 500px;
    width: 100%;
    background: #999;
    margin: 20px 0px;
  }
  
  .content {
    padding: 20px 0px;
    
  }
  
  
  
  .tile {
   
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    
  }
  .tile img {
   
    height: 400px;
    width: 350px;
    transition-property: all;
    transition-duration: 1s;
  }
  .tile img:hover {
    
    transform: scale(1.2);
    filter: brightness(0.4);
  }

  
  
  .tile-text {
    position: absolute;
    z-index: 1;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    bottom: 0;
    color: white;
  }
  
  
  
  .hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("/assets/img/hero.jpg");
    height: 65vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
  }
  
  .hero-subheading {
    font-size: 24px;
    font-weight: 100;
    color: white;
  }
  .hero-input {
    width: 80%;
    height: 50px;
    padding: 16px;
    border-radius: 8px;
    border: none;
  }
  
  .nav-link {
    margin-right: 36px;
  }
  .experience-content ul li {
    margin-left: 16px;
    padding: 0;
  }
 img{
  width: 30px;
  height: 30px;
  margin-bottom: 7px;
  margin-right: 5px;
 }
 #contact-us-img{
  height: 100%;
  width: 100%;
  margin-left: 50px;

 }
 #cont-input{
  width: 95%;
  float: right;
  align-items: center;
  justify-content: center;
  display: flexbox;
  padding: 10px;
  margin-bottom: 20px !important;
  margin-right: 10% !important;
 }
 #Submit{
 
  margin-top: 10px;
 
 }
 textarea{
  width: 95%;
  float: right;
  align-items: center;
  justify-content: center;
  display: flexbox;
  padding: 10px;
  margin-bottom: 20px !important;
  margin-right: 10% !important;
 }
 #contact-us{
  margin-left: 50px;
 }
  @media only screen and (min-width: 768px) {
    /* For desktops phones: */
    #reservation {
      width: 400px;
      position: fixed;
    }
  }
  